<app-navigation></app-navigation>
<div id="fondocontacto">
    <div class="container" id="contcontacto">
        <div class="row justify-content-md-center d-flex align-items-center flex-wrap  h-100 text-white">

            <div class="col-12 col-lg-4 col-xs-12 col-sm-12 mt-5">
                <h2>LLAMANOS AHORA</h2>

                <span><h3>(11) 4844-0128</h3></span>
                <p>Atendemos de lunes a viernes de 8 a 17 hs. y te asesoramos para que resuelvas tu problema de humedad en techos y paredes.</p>
            </div>

            <div class="col-12 col-lg-4 col-sm-12 mb-5 mt-1 mtmobi">
                <h3>Envianos tu consulta</h3>
                <form action="enviar.php" method="post" enctype="multipart/form-data" [formGroup]="form" >
                    <div class="form-group">
                        <label for="exampleInputEmail1">Nombre</label>
                        <input type="name" class="form-control" id="nombre"  placeholder="Ingresa tu nombre" formControlName="nombre">

                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">E-mail</label>
                        <input type="email" class="form-control" id="email"  placeholder="Ingresa tu e-mail" formControlName="email">

                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Teléfono</label>
                        <input type="telephone" class="form-control" id="telefono"  placeholder="Ingresa tu teléfono" formControlName="telefono">

                    </div>

                    <div class="form-group">
                        <label for="mensaje">Mensaje</label>
                        <textarea class="form-control" id="mensaje" rows="3"></textarea>
                    </div>


                    <button type="submit" class="btn btn-lg btn-danger"  [disabled]="!form.valid">Enviar</button>

                </form>
            </div>
        </div>

    </div>

</div>