<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark text">
        <a class="navbar-brand" href="#"><img id="logogrande" alt="logo" src="assets/images/logo.jpg"></a>
        <div class="col-lg-6 offset-lg-6 col-10 col-offset-1">Solucionamos los problemas de Humedad</div>
    </nav>
</header>
<div class="splash">
    <h1 class="col-lg-6 offset-lg-3 text-center tx42">{{_slug}}</h1>
    <div class="col-lg-4 offset-lg-4 text-center mt-5"><a class="botoncall">Solicitar presupuesto</a></div>
    <div class="col-lg-10 offset-lg-1 d-flex justify-content-center flex-wrap mt-5">

        <div class="">
            <img src="/assets/images/placas/placa3d-Travertino.webp" class="mx-auto placasimg">
        </div>
        <div class="">
            <img src="/assets/images/placas/placa3d-Meteorc.webp" class="mx-auto placasimg">
        </div>
        <div class="">
            <img src="/assets/images/placas/placa3d-Pizarra Fina.webp" class="mx-auto placasimg">
        </div>
        <div class="">
            <img src="/assets/images/placas/placa3d-Piedra Artificial.webp" class="mx-auto placasimg">
        </div>
        <div class="">
            <img src="/assets/images/placas/placa3d-Marmol.webp" class="mx-auto placasimg">
        </div>

    </div>
    <div class="contico col-lg-10 offset-lg-1 d-flex justify-content-center flex-wrap mt-5 text-white">

        <div class="d-flex">
            <div class="d-block  m-3">
                <img src="/assets/images/icono1.png" class="mx-auto icoimg mb-1">
                <p>Anti Humedad</p>
            </div>

        </div>
        <div class="d-flex">
            <div class="d-block m-3">
                <img src="/assets/images/icono2.png" class="mx-auto icoimg mb-1">
                <p>Incombustible</p>
            </div>
        </div>
        <div class="d-flex">
            <div class="d-block  m-3">
                <img src="/assets/images/icono3.png" class="mx-auto icoimg mb-1">
                <p>Aislante Acústico</p>
            </div>
        </div>
        <div class="d-flex text-center">
            <div class="d-block  m-3">
                <img src="/assets/images/icono4.png" class="mx-auto icoimg mb-1">
                <p>Aislante Térmico</p>
            </div>
        </div>
        <div class="d-flex">
            <div class="d-block  m-3">
                <img src="/assets/images/icono5.png" class="mx-auto icoimg mb-1">
                <p>Anti Hongos</p>
            </div>
        </div>

    </div>
</div>
<div>
    <h1 class="col-lg-6 offset-lg-3 text-center txtmarron">Que ofrecemos?</h1>
    <h3 class="col-lg-6 offset-lg-3 text-center txtmarron">{{_slug}}</h3>
    <div class="col-lg-10 offset-lg-1">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sapien mi, consequat non pharetra non, fringilla at quam. Donec sed congue ipsum, placerat faucibus sem. Maecenas et convallis dolor, bibendum venenatis massa. Mauris mi lorem,
            pulvinar eget purus non, dapibus imperdiet lacus. Fusce gravida, odio sed accumsan eleifend, justo lectus rutrum nunc, nec malesuada ligula ante in dui. Aenean eget pulvinar mi. Pellentesque vestibulum tincidunt sem et pulvinar. Phasellus
            a sapien quis ligula porttitor sodales ac nec velit. Proin lectus urna, euismod sed quam eu, iaculis fermentum nibh. Phasellus est justo, pulvinar faucibus lacus in, aliquet porta arcu. Aenean fermentum, lorem ut luctus interdum, leo felis
            accumsan mi, vitae efficitur tortor risus et mi. Aenean in sapien dapibus, placerat mi vitae, vestibulum tellus. Proin scelerisque nulla lacus, in consequat nulla mollis a. In hac habitasse platea dictumst. Nullam orci massa, placerat vitae
            ante et, imperdiet hendrerit nulla. In posuere mauris ex, id luctus tortor interdum vitae. Morbi id erat dui. Nulla dictum tristique nibh eget sollicitudin. Ut ultrices imperdiet elit a faucibus. Mauris porta velit nec porttitor efficitur.
            Proin lacinia maximus quam, at pretium urna scelerisque et. Nulla at odio a orci iaculis commodo. Aenean suscipit malesuada eleifend. Aenean nec eleifend nunc. Proin varius sit amet orci sit amet porta. Cras facilisis iaculis dui, nec suscipit
            mi. Vestibulum eu erat nec risus ultrices aliquam. Nam sit amet finibus tortor. Maecenas imperdiet nisi libero, vitae porta lorem condimentum quis. Morbi accumsan sollicitudin purus, vel pulvinar dolor dictum venenatis. Mauris dictum pulvinar
            egestas. Nulla facilisi. Cras vitae vestibulum nulla, sed pulvinar metus. Phasellus vehicula facilisis tortor vitae commodo. Donec id urna ac felis dictum porttitor id ac massa. Donec tempus dictum felis, eu pellentesque lectus dignissim vitae.
            Maecenas id nisi nec lorem commodo malesuada sed id diam. Nunc ut arcu nec arcu tincidunt posuere. Pellentesque ut purus ut ligula rutrum hendrerit. Morbi venenatis ultrices sodales. Ut tellus nibh, facilisis non maximus at, vulputate vel
            nibh. Donec vestibulum feugiat felis sed vulputate. Nulla dapibus elit felis, non porta massa imperdiet at. Nullam viverra, mauris in rutrum ultrices, nibh purus molestie est, in eleifend nibh lectus quis nunc. Nulla euismod gravida pharetra.
            Proin quis lacus urna. Nam pretium, justo viverra faucibus vestibulum, ante sapien posuere lectus, ornare iaculis tellus nunc eget nisi. Etiam faucibus, sem quis fringilla venenatis, justo orci fermentum tellus, sit amet lobortis neque risus
            eget erat. Proin interdum libero sed aliquam viverra. Curabitur posuere, ante eu scelerisque lacinia, turpis ex dapibus ligula, vitae lacinia nisi augue sed felis. Aenean euismod posuere odio. Nullam aliquet consequat turpis. Vestibulum auctor
            arcu dignissim odio blandit, vitae pharetra dolor pellentesque. Cras varius risus eget porttitor venenatis.
        </p>
    </div>
</div>