
<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#"><img id="logogrande" src="assets/images/logo.jpg" ></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent"> 
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
          </li>
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" routerLink="/home" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Revestimientos
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" routerLink="/home">Arenisca</a>
              <a class="dropdown-item" routerLink="/home">Mármol</a>
              <a class="dropdown-item" routerLink="/home">Patagonia</a>
              <a class="dropdown-item" routerLink="/home">Piedra Artificial</a>
              <a class="dropdown-item" routerLink="/home">Piel Naranja</a>
              <a class="dropdown-item" routerLink="/home">Patagonia</a>
              <a class="dropdown-item" routerLink="/home">Gran Sol</a>
              <a class="dropdown-item" routerLink="/home">Pizarra fina</a>
              <a class="dropdown-item" routerLink="/home">Pizara Gruesa</a>
              <a class="dropdown-item" routerLink="/home">San Juan</a>
              <a class="dropdown-item" routerLink="/home">Travertino</a>
              <a class="dropdown-item" routerLink="/home">Travertino con marco</a>
              <a class="dropdown-item" routerLink="/home">Lisa</a>
            </div>
          </li>
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Cielorrasos
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" routerLink="/home">Meteor</a>
              <a class="dropdown-item" routerLink="/home">Alicante</a>
              <a class="dropdown-item" routerLink="/home">Piel Naranja</a>
              <a class="dropdown-item" routerLink="/home">Ubeda</a>
              <a class="dropdown-item" routerLink="/home">Gran Sol</a>
              <a class="dropdown-item" routerLink="/home">Lisa</a>
              </div>
            </li>
            <li class="nav-item">
            <a class="nav-link" routerLink="/contacto">Contacto</a>
          </li>
        </ul>

      </div>
    </nav>
    </header>
    <footer>
      <h3>Llamanos  <span>lunes a viernes de 8 a 17hs</span> <strong> TEL (11)4844-0128 </strong></h3>
    </footer>
<router-outlet></router-outlet>
