<ngb-carousel>
  <ng-template ngbSlide>
    <div id="slide1">
      <div id="textosl1">
        <h1>Placas Seca</h1>
        <h2 class="subtitulo">La solución a la humedad</h2>
        <div id="iconos" class="row justify-content-md-center">
          <div id="cont-img-txt">
            <img src="/assets/images/icono1.png" />
            <p>Anti-humedad</p>
          </div>
          <div id="cont-img-txt">
            <img src="/assets/images/icono2.png" alt="" />
            <p>Incombustible</p>
          </div>
          <div id="cont-img-txt">
            <img src="/assets/images/icono3.png" alt="" />
            <p>Aislante acústico</p>
          </div>
          <div id="cont-img-txt">
            <img src="/assets/images/icono5.png" alt="" />
            <p>Anti-hongos</p>
          </div>
          <div id="cont-img-txt">
            <img src="/assets/images/icono4.png" alt="" />
            <p>Aislante termico</p>
          </div>
        </div>
      </div>
      <div id="producto1">
        <img src="/assets/images/placa.png" class="mx-auto d-block" alt="" />
      </div>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div id="slide2">
      <div id="textosl2">
        <h1>Llamanos</h1>
        <h2 class="subtitulo2">TEL (11)4844-0128</h2>

      </div>
      <div id="producto2">
        <img src="/assets/images/tel.png" class="mx-auto d-block" alt="placa antihumedad" />
      </div>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div id="textosl3">
      <h1>Placas Antihumedad</h1>
      <h2 class="subtitulo">Terminá con la humedad
        <br/>en 24 horas</h2>
    </div>
    <div id="producto3" class="">
      <img src="/assets/images/constructor.png" alt="constructor" class="mx-auto d-block" />
    </div>
  </ng-template>
</ngb-carousel>
